/*
File Name: main.less
Date: 03/10/19
Programmer: Greg Khmara
*/

/* color */
@header_color: #FF0000;
@shadow_color: #989898;
@footer_color: #222;
@body_color: #fff;
@body_text_color: #999;
@header_border: #F8585A;
@logo_color: #000;
@text_color: #f2f2f2;



/**********************************
GENERAL
***********************************/

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 16px;
}

main {
    margin: 0 1em;    
}

p {
    margin: 1em 1em 1em 0;
}

h1 {
    font-family: 'Changa One', sans-serif;
    margin: 1em 1em 1em 0;
    font-size: 2em;
    text-shadow: 2px 2px @shadow_color;
    font-weight: bold;
    line-height: 2em;
}

h2 {
    margin: 1em 1em 1em 0;
    font-weight: bold;
}

h3 {
    margin: 1em 1em 1em 0;
    font-weight: bold;
    font-size: 1.54em;
    font-style: bold;
}


#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#hero img {
        width: 100%;
        height: auto;
}

/**********************************
HEADING
***********************************/

header {
    float: left;
    margin: -15px 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}


h2 {
    font-size: 0.75em;
    margin: 1em 1em 1em 0;
    font-weight: bold;
}



/**********************************
NAVIGATION
***********************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/**********************************
FOOTER
***********************************/

footer {
    font-style: italic;
    text-align: left;
    width: 100%;
    background-color: @footer_color;
    padding: 50px 10px 10px 10px;
}

footer ul {
    margin-top: 5px;
    list-style: none;
}



/**********************************
COLORS
***********************************/

/* site body */
body {
    background-color: @body_color;
    color: @body_text_color;
}

header {
    background: @header_color;
    border-color: @header_border;
}

/* nav background on mobile */
nav {
    background: @header_color;
}

/* logo text */
h1,
h2 {
    color: @logo_color;
}

/* links */
a {
    color: @header_border;
}

/* nav link */
nav a,
nav a:visited {
    color: @body_color;
}

/* selected nav link */
nav a.selected,
nav a:hover {
    color: @header_color;
}

/**********************************
SLIDESHOW
***********************************/

* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
//    position: relative;  /* BLOCKS THE NAV (position: relative;) */
    margin: auto;
}

/* Caption text */
.text {
    color: @text_color;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}